body {
  background-color: #fefdf5;
}

#decide {
  margin: 40vh auto 0;
  text-align: center;
  color: #3a4a5a;
  transition: opacity 0.3s ease;
}
#decide:hover {
  cursor: pointer;
  opacity: 0.65;
}

div {
  margin-top: 8rem;
  color: #7a8a9a;
}

pre {
  padding: 2rem 1rem;
  border-radius: 3px;
  background-color: #2a3a4a;
  color: #ccc;
}

